---
import Base from '../layouts/Base.astro'
import { Hero } from '../components/Hero'
import { Manifesto } from '../components/Manifesto'
import { Crew } from '../components/Crew'
import { Work } from '../components/Work'
import { Skills } from '../components/Skills'
import { Experience } from '../components/Experience'
---

<Base>
  <main>
    <Hero client:load />
    <Manifesto client:load />
    <Crew client:load />
    <Work client:load />
    <Skills client:load />
    <Experience client:load />
  </main>
</Base>
