---
import Base from '../layouts/Base.astro'
import { Hero } from '../components/Hero'
import { Manifesto } from '../components/Manifesto'
---

<Base>
  <main>
    <Hero client:load />
    <Manifesto client:load />
  </main>
</Base>
