---
import Base from '../layouts/Base.astro'
import Hero from '../components/Hero.astro'
import { Manifesto } from '../components/Manifesto'
import { Crew } from '../components/Crew'
import { Work } from '../components/Work'
import { Skills } from '../components/Skills'
import { Experience } from '../components/Experience'
import { Contact } from '../components/Contact'
---

<Base>
  <main>
    <Hero />
    <Manifesto client:visible />
    <Crew client:visible />
    <Work client:visible />
    <Skills client:visible />
    <Experience client:visible />
    <Contact />
  </main>
</Base>
